* {
  box-sizing: border-box;
}

body {
  background: #222;
  color: lavender;
  display: flex;
  flex-flow: row wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  justify-content: center;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 400;
  text-align: center;
  width: 90vw;
}

.container {
  background: rgb(224, 189, 195);
  color: #111;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0 50px 0;
  margin: 20px 0 20px 0;
  width: 100vw;
}

.box {
  align-items: center;
  background: lavender;
  border: 10px solid rgb(16, 16, 199);
  border-radius: 50%;
  display: flex;
  font-size: 1.7em;
  height: 2.7em;
  justify-content: center;
  padding: 25px;
  width: 2.7em;
}

.box:hover {
  background: rgb(199, 237, 250);
  cursor: grab;
}

.selected {
  background: rgb(199, 237, 250);
}

.result-container {
  text-align: center;
  width: 90vw;
}

@media all and (min-width: 768) {
  .box {
    font-size: 2.5rem;
    height: 3.5em;
    width: 3.5em;
    padding: 35px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    padding: 30px 50px 30px 50px;
    width: 60vw;
  }

  .box {
    font-size: 3rem;
    height: 4em;
    width: 4em;
    padding: 40px;
  }

  .result-container {
    width: 60vw;
    padding: 0 20px 0 20px;
  }
}